@model List<Studenci>

<h1>To jest lista studentów</h1>
<p>
    @ViewBag.Opis
</p>
<a href="/student/create" class="btn">Dodaj studenta</a>
<a href="/student/delete" class="btn">Usuń studenta</a>
<a href="/student/edit" class="btn">Zmień dane studenta</a>
<table class="striped">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Email</td>
            <td>Data urodzenia</td>
            <td>Szczegoly</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                <td>@student.IndexNumber</td>
                <td>
                    <a class="waves-effect waves-light btn-small"
                       href="/student/details/@student.IdStudent">Wyswietl</a>
                </td>
            </tr>
        }
    </tbody>

</table>
