@model List<Studenci>

@{
    Layout = null;
}

<h1>To jest lista studentów</h1>
<p>
    @ViewBag.Opis
</p>

<table class="striped">
    <thead>
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Email</td>
            <td>Data urodzenia</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.LastName</td>
                <td>@student.Email</td>
                <td>@student.BirthDate</td>
            </tr>
        }
    </tbody>

</table>
